[submodule "orbit"]
	path = orbit
  url = git@github.com:styx-static/styx-theme-orbit.git
[submodule "showcase"]
	path = showcase
  url = git@github.com:styx-static/styx-theme-showcase.git
[submodule "agency"]
	path = agency
  url = git@github.com:styx-static/styx-theme-agency.git
[submodule "hyde"]
	path = hyde
  url = git@github.com:styx-static/styx-theme-hyde.git
[submodule "generic-templates"]
	path = generic-templates
	url = git@github.com:styx-static/styx-theme-generic-templates.git
[submodule "themes/ghostwriter"]
	path = ghostwriter
	url = git@github.com:styx-static/styx-theme-ghostwriter.git
[submodule "themes/nix"]
	path = nix
	url = git@github.com:styx-static/styx-theme-nix.git
